                 {{> welcome}}
                   <div class="top-area">
                        <h2>Users :</h2>    
                        <form action="/admin/adduser" method="GET">
                            <input type="submit" value="Add User" id="addButton" class="btn user-add-btn">
                        </form>
                    </div>
                    <div id="user-list-bottom-area">

                            <table>
                                <thead>
                                    <th>UserID</th>
                                    <th>First tName</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    {{#each users}}

                                        <tr>
                                            <td>{{this.id}}</td>
                                            <td>{{this.firstName}}</td>
                                            <td>{{this.lastName}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{this.role}}</td>
                                            <td><a href="/admin/delete/{{this.id}}?method=delete" class="btn deactivate-btn">Delete</a></td>
                                        </tr>

                                    {{/each}}
                                </tbody>
                            </table>